:root {
  /* Cores Neutras */
  --neutral-900: #09153e;
  --neutral-800: #212636;
  --neutral-700: #2f364b;
  --neutral-600: #545969;
  --neutral-300: #c7c7c7;
  --neutral-200: #d6e2f5;
  --neutral-100: #ededed;
  --neutral-0: #fbfdfe;
  /* Vermelho */
  --red-400: #f25c54;
  --red-50: #de473f;
  --red-70: #c7221a;
  /* Gradiente */
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

@font-face {
  font-family: "NotoSans-Italic";
  src: url("../assets/fonts/NotoSans-Italic-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: italic;
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("../assets/fonts/NotoSans-VariableFont_wdth,wght.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
}

body,
h1,
h2,
p {
  margin: 0px;
  padding: 0px;
}

#container {
  font-family: "NotoSans";
  padding: 40px 120px;
  background: var(--light-gradient);
}

.barra-superior {
  padding: 15px;
  border-radius: 20px;
  border: 1px solid var(--neutral-200);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--neutral-0);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 16px;
}
.header-content h1 {
  font-size: 2rem;
  color: var(--neutral-900);
}

.header-content button {
  padding: 12px 20px;
  font-size: 1.2rem;
  border-radius: 40px;
  border: 1px solid var(--neutral-200);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  background: var(--neutral-0);
  color: var(--neutral-900);
  cursor: pointer;
}

.header-content button:hover {
  color: var(--neutral-0);
  background: var(--red-70);
  border: none;
}

#extensions-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
}

.extension-card {
  padding: 20px;
  border-radius: 20px;
  background: var(--neutral-0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.extension-card-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}

.extension-card-header-logo img {
  width: 60px;
  height: 60px;
}
.extension-card-header-info {
  margin-left: 20px;
}

.extension-card-header-info h2 {
  margin: 0px 0px 10px;
  color: var(--neutral-900);
  font-family: "Notosans";
  font-size: 1.5rem;
  font-weight: 700;
}

.extension-card-header-info p {
  margin-bottom: 40px;
  color: var(--neutral-600);
  font-size: 0.875rem;
  font-weight: 400px;
}

.extension-card-buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extension-card-buttons button {
  padding: 8px 16px;
  border-radius: 16px;
  border: 1px solid var(--neutral-200);
  background: var(--neutral-0);
  cursor: pointer;
  color: var(--neutral-800);
}

.extension-card-buttons button:hover {
  background: var(--neutral-100);

  border: 1px solid var(--neutral-100);
  animation: none;
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 42px;
  height: 24px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background: var(--neutral-300);
  border-radius: 34px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background: var(--neutral-0);
  border-radius: 50%;
  transition: 0.4s;
}

.toggle-switch input:checked + .slider {
  background-color: #c7221a;
}

.toggle-switch input:checked + .slider:before {
  transform: translateX(18px);
}
